################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties
/bin
/UI
/Projectiles/BulletStarfall.png
/Projectiles/BulletSpectral.png
/Projectiles/BulletRubber.png
/Projectiles/BulletMiner.png
/Projectiles/BulletMarked.png
/Projectiles/BulletIce.png
/Projectiles/BulletDrugged.png
/Projectiles/BulletBunny.png
/obj
/Items/Weapons/BulletStarfall.png
/Items/Weapons/BulletSpectral.png
/Items/Weapons/BulletRubber.png
/Items/Weapons/BulletMiner.png
/Items/Weapons/BulletMarked.png
/Items/Weapons/BulletIce.png
/Items/Weapons/BulletDrugged.png
/Items/Weapons/BulletBunny.png
/Buffs/Stuck.png
/Buffs/Marked.png
/Buffs/Drugged.png
/Buffs/Cold.png
/.vs
/AmmoboxPlus.sln
/AmmoboxPlus.csproj.user
/AmmoboxPlus.csproj
